<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/book.css}">
</head>

<body>
    <nav th:replace="fragments/header :: header"></nav>
    <div class="container mt-5 bg-light">
        <h2 class="display-4 my-5" th:text="${action + ' '}+${action=='Edit'?'book #'+book.id:''}">action on
            book</h2>
        <form id="bookForm">
            <div class="form-row">
                <div class="col-sm mr-3 form-group">
                    <input th:value="${book!=null}?${book.name}:''" class="form-control" id="name"
                        placeholder="Enter name">
                </div>
                <div class="col-sm mr-3 form-group">
                    <input th:value="${book!=null}?${book.author}:''" class="form-control" id="author"
                        placeholder="Enter author">
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm mr-3 form-group">
                    <input th:value="${book!=null}?${book.price}:''" type="number" class="form-control" id="price"
                        placeholder="Enter price"></div>
                <div class="col-sm mr-3 form-group">
                    <input th:value="${book!=null}?${book.year}:''" class="form-control" id="year"
                        placeholder="Enter year of publish" autocomplete="off">
                </div>
            </div>
            <div class="form-row d-flex justify-content-center">
                <button type="submit" class="btn btn-primary my-3">Submit</button>
            </div>
        </form>
    </div>
    <th:block th:include="fragments/bootstrap :: bootstrap"></th:block>
</body>

</html>
