<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/books.css}">
</head>

<body>
    <nav th:replace="fragments/header :: header"></nav>
    <div th:switch="${books}">
        <h2 th:case="null">No books yet!</h2>
        <div class="container mt-5" th:case="*">
            <div th:if="${message}" class="alert alert-success">
                <span th:text="${message}">book operation success message</span>
            </div>
            <div class="table-container">
                <table class="mb-0 table table-bordered table-responsive-sm" id="booksTable">
                    <thead class="thead-dark">
                        <tr>
                            <th id="bookId" class="text-center">#</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Year</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="book" th:each="book, i : ${books}">
                            <td th:text="${book.id}" class="align-middle text-center"></td>
                            <td th:text="${book.name}" class="align-middle"></td>
                            <td th:text="${book.author}" class="align-middle"></td>
                            <td class="text-center align-middle" th:text="${book.price}"></td>
                            <td class="text-center align-middle" th:text="${book.year}"></td>
                            <td class="actions d-flex justify-content-center">
                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{admin/books/delete/} + ${book.id}">🗑️</a>
                                    <a th:href="@{admin/books/edit/} + ${book.id}">🖊️</a>
                                </th:block>
                                <th:block sec:authorize="hasRole('USER')">
                                    <div class="btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-info">
                                            <input th:id="add-to-cart+${i.index}" type="checkbox" autocomplete="off">🛒
                                        </label>
                                    </div>
                                </th:block>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <div class="bg-light p-2 rounded col-6 d-flex justify-content-center align-items-center">
                        <th:block sec:authorize="hasRole('USER')">
                            <div id="cartTotal"> Total price of books selected: 0 </div>
                            <button id="resetCart" class="ml-4 btn btn-primary">reset cart</button>
                        </th:block>
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{admin/books/add}" class="my-3 btn btn-primary">add book</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragments/bootstrap :: bootstrap"></th:block>
    <script sec:authorize="hasRole('USER')" type="text/javascript" th:src="@{/js/regUserBooks.js}"></script>
</body>

</html>
