<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:switch="${books}">
        <h2 th:case="null">No books yet!</h2>
        <div th:case="*">
            <h2>Books</h2>
            <table id="booksTable">
                <thead>
                    <tr>
                        <th id="bookId">Id</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Year</th>
                        <th sec:authorize="hasRole('ADMIN')">
                            Administration
                        </th>
                        <th sec:authorize="hasRole('USER')">
                            Add To Cart
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.price}"></td>
                        <td th:text="${book.year}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/books/delete/} + ${book.id}" class="deleteBook">Delete</a>
                            <button>Edit</button>
                        </td>
                        <td sec:authorize="hasRole('USER')">
                            <button>+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a th:href="@{/logout}">Sign Out</a>
    <script type="text/javascript" th:src="@{/js/books.js}"></script>
</body>

</html>
