body {
    background-color: #eee;
}

.table-container {
    border-radius: 5px;
    overflow: hidden;
}

$rowColor: #eee8f8;
.book {
    background-color: $rowColor;
    .actions {
        > * {
            opacity: 0.15;
        }
        a {
            text-decoration: none;
        }
    }
    &:hover .actions > * {
        opacity: 1;
    }
    &.active-book {
        background-color: darken($rowColor, 10%);
        .actions > * {
            opacity: 1;
        }
    }
}
