$tableRowBackground: #eeeeee;

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.table-container {
    border-radius: 5px;
    overflow: hidden;
}

.book {
    .actions {
        > * {
            opacity: 0.15;
        }
        a {
            text-decoration: none;
        }
    }
    &:hover .actions > * {
        opacity: 1;
    }
    &.active-book {
        background-color: darken($tableRowBackground, 10%);
        .actions > * {
            opacity: 1;
        }
    }
}
